target/
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.classpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
.studio/
flows/
target/
**/*.mflow
*.iml
.idea/
mule-project.xml
.DS_Store